/* Mise en page du corps des pages CV */

/* ---------------- ARTICLE ------------------- */
article {
	background-color: rgba(0, 0, 0, 0.6);	/*article en noir transparent*/
	color: white;
	width: 50%;
	margin: 40px auto;
	padding: 40px 5%;
}

article h2, article h3 {
	text-align: center;
}

article ul{
	margin-top: 1em;
	margin-bottom: 2em;
}

article figure.photo {
	width: 20em;			/*taille des photos d'identité*/
	max-width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}