/* Mise en page du corps de la page cv_etienne */
/* ---------------- GENERAL ------------------- */
* {
	margin: 0;
	padding: 0;
}



/* ---------------- SECTION ------------------- */
section {
	/* pour le Sticky Footer */
	flex: 1;

	/* image de fond */
	background-image: url("./images/mada1.jpg");
	/*background-repeat: no-repeat;*/
	background-size: cover;
	background-attachment: fixed;
}



/* ---------------- ARTICLE ------------------- */
article {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	width: 50%;
	margin: 30px auto;
	padding: 40px 5%;
}

article h1, article h2 {
	text-align: center;
}

article p {
	text-align: justify;
	padding: 1em 0;
}


article figure {
	width: 20em;
	max-width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}
