/* Dans ce fichier, on fait la mise en page commune à toutes les pages du sites, donc le header et le footer */
/* ---------------- GENERAL ------------------- */
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	min-width: 1100px;			/*largeur minimale pour le nav*/
}


body {
	font-family: trebuchet ms, cursive, verdana, sans-serif;
	display: flex;				/* pour le Sticky Footer */
	flex-direction: column;
}


img{
	max-width: 100%;
}



/* ----------------- HEADER ------------------- */
header{
	background-color: rgb(81, 64, 56);
}


.logo{
	padding: 0 20px;
	width: 300px;
	height: auto;
	display: inline-block;		/*affiche les logo & le nav en ligne*/
	position: relative;
	top: 19px;					/*décalage vers le bas*/
}


nav{
	padding: 0 20px;
	display: inline-block;		/*affiche le logo & le nav en ligne*/
}


header ul{
	list-style-type: none;		/*retire les puces*/
}


header li {
	text-align: center;
	display: inline-block;		/*affiche la liste en ligne*/
}


header ul a{
 	color: white;
	font-size: 1.3em;
	text-decoration: none;		/*retire le soulignement par défaut des liens*/
	font-weight: bold;
	border: 1px solid black;	
	padding: 0px 20px;
}


header ul a:hover{
 	background-color: rgb(0, 0, 70);	/*affiche en bleu quand on passe la souris*/
 	transition: 0.4s;					/*transition du changement de couleur*/
}


/* ---------------- SECTION ------------------- */
section {
	flex: 1;						/* étend la section, pour le Sticky Footer */
	background-image: url("./images/mada1.jpg");	/* image de fond */
	background-size: cover;			/*ajuste l'image à la taille de l'écran*/
	background-attachment: fixed;	/*fixe l'image pendant le scroll*/
}



/* ----------- BACK TO TOP BUTTON ------------ */
.to-top{
	position: fixed;			/*fixe la position du bouton*/
	right: 40px;
	bottom: 30px;
	width: 40px;
	height: auto;
}





/* ----------------- FOOTER ------------------ */
footer{
	height: 1.6em;
	background-color: rgb(70, 70, 70);	/*footer en gris*/
}


footer p{
	text-align: center;
}























