/* Dans ce fichier, on fait la mise en page commune à toutes les pages du sites, donc le header et le footer */
/* ---------------- GENERAL ------------------- */
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	min-width: 800px;
}


body {
	font-family: trebuchet ms, cursive, verdana, sans-serif;

	/* pour le Sticky Footer */
	display: flex;
	flex-direction: column;
}


img{
	max-width: 100%;
}



/* ----------------- HEADER ------------------- */
header{
	background-color: rgb(81, 64, 56);
}


.logo{
	padding: 0 20px;
	min-width: 300px;
	max-width: 300px;
	height: auto;
	display: inline-block;
	position: relative;
	top: 19px;
}


nav{
	padding: 0 20px;
	display: inline-block;
}


header ul{
	list-style-type: none;
}


header li {
	text-align: center;
	display: inline-block;
}


header ul a{
 	color: white;
	font-size: 1.3em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	padding: 0px 20px;
}


header ul a:hover{
 	background-color: rgb(0, 0, 70);
 	transition: 0.4s;
}


/* ---------------- SECTION ------------------- */
section {
	/* pour le Sticky Footer */
	flex: 1;

	/* image de fond */
	background-image: url("./images/mada1.jpg");
	background-size: cover;
	background-attachment: fixed;
}



/* ----------- BACK TO TOP BUTTON ------------ */
.to-top{
	position: fixed;
	right: 30px;
	bottom: 20px;
	width: 40px;
	height: auto;
}





/* ----------------- FOOTER ------------------ */
footer{
	height: 1.6em;
	background-color: rgb(70, 70, 70);
}


footer p{
	text-align: center;
}























